.navbar {
  width: 100%;
  background-color: #5374C1;
  padding: 35px;
  z-index: 50;
}

.container{display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.navbar__logo h2 {
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-right: 25px;
}

.navbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 24px;
  padding: 10px 15px;
  background-color: #5374C1;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.navbar__links > li > a:hover {
  background-color: #f4f4f4;
  color: #5374C1;
  border: 1px solid #5374C1;
}
